#paineis-sobre {
	margin-top: 20px;
}

.titulo-depoimentos {
	background-color: #0275D8;
	color: #f0f8ff;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-bottom: 0;
	margin-top: 0;
	font-size: 24px;
}

.group-radio, .contato-select {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.group-radio .radio:first-child {
	margin-top: 0;
}

footer {
	background-color: #333;
	color: #f0f8ff;
	padding: 20px;
	margin-top: 10px;
}

footer address:last-child{
	margin-bottom: 0;
}